body {
        padding: 0px 50px;
        font-family: 'Komica', 'Courier New', Courier;
}

@font-face {
        font-family: 'Komica';
        src: url('font/Komyca3DFreeVersionItalic-rg1WO.ttf');
}

.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

#portfolio {
        font-family: 'Courier New', Courier, monospace;
        text-decoration-line: none;
}

#logo {
        width: 200px;
        margin-top: -60px;
        margin-bottom: -35px;
        height: 200px;
        padding: 0px;
}

h1 {
        text-align: center;
        padding-bottom: 30px;
        font-size: 80px;
}

#container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        flex-wrap: wrap;
        margin-top: -100px;
}

#container div img {
        width: 150px;
        height: 150px;

        /*added the following code for transitions and hover effects */
        object-fit: cover;
        transition: transform 0.3s ease;
}

p {
        text-align: center;
        font-weight: bolder;
        font-size: 40px;
}

.choice {
        cursor: pointer;
        border: 0 solid #0077b5;
}

.choice:hover {
        opacity: 0.7;

        /*also added for transition and hover effect */
        transform: scale(1.05);
}

#footer-logo {
        width: 60px;
        height: 60px;
        cursor: pointer;
        border: 0 solid #0077b5;
        object-fit: cover;
        transition: transform 0.3s ease;
}

#footer-logo:hover {
        opacity: 0.7;
        transform: scale(1.05);
}

.footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

footer {
        background: grey;
}

footer p {
        margin: 0;
        color: white;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
}